$app-bg: #e9e4df;
$app-basicFont: #1f1f22;
$fontFamily_zh:serif;
$fontFamily_en:cursive;

$theme0:#b1902b;
$theme1:#30436f;
$theme2:#b24d49;

$theme0-light:#cab687;
$theme1-light:#869ccc;
$theme2-light:#cc8686;

